#btn1 {
     -fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
        -fx-background-insets: 0 0 -1 0,0,1;
        -fx-background-radius: 5,5,4;
        -fx-padding: 4 27 4 27;
        -fx-text-fill: #242d35;
        -fx-font-family: "Helvetica";
        -fx-font-size: 12px;
        -fx-text-fill: white;
}

#btn1:hover {
-fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

#textField {
     -fx-background-color: -fx-text-box-border, -fx-background ;
        -fx-background-insets: 0, 0 0 1 0 ;
        -fx-background-radius: 0 ;
}
#textArea {

}